@import "base";
@import "ui";

#jumbomanager {
	/* temp */
	.toolbar-container,
	.previews-container,
	.canvas-container,
	.controls-container {
		border: 1px solid @black;
	}

	.component {
		background-color: @white;
		border: 1px solid @black;
		border-radius: 4px;
		text-align: center;
		cursor: move;
	}

	.slideButton {
		.vertical-align(absolute);
		z-index: 1000;
		cursor: pointer;
		color: @grey;

		&:hover {
			color: @white;
			transition: color 0.25s 0s ease;
		}
	}

	.slideButton#jumbomanager-prevSlide {
		left: 1rem;
	}

	.slideButton#jumbomanager-nextSlide {
		right: 1rem;
	}
	
	.mobile-range-background {
		background: none;
		.gradient(@mobile-slider-background-color);
	}
	.tablet-range-background {
		background: none;
		.gradient(@tablet-slider-background-color);
	}
	.desktop-range-background {
		background: none;
		.gradient(@desktop-slider-background-color);
	}

	.sub-form-group {
		padding-left: 2rem;
	}

	.letterbox {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 0;
		background-color: rgba(0,0,0,0.75);

		&.letterbox-left {
			left: 0;
		}

		&.letterbox-right {
			right: 0;
		}
	}

	.tooltip-container {
		border: 1px solid @black;
		font-weight: bold;
		color: @black;
		cursor: help;
		display: inline-block;
		padding: 0rem 0.25rem;
		border-radius: 2rem;
		&:after {
			content: "?";
		}
	}
}

#jumbomanager-responsive-slider {
	.horizontal-align(absolute);
	bottom: 3rem;
	width: 25%;
}

#jumbomanager-canvas {
	width: 100%;
	position: relative;
	.image-container {
		width: 100%;
	}
}

#jumbomanager-overlay,
#jumbomanager-main-canvas {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#jumbomanager-overlay {
	.overlay-button {
		display: block;
		border: 1px solid @black;
		min-width: 100%;
		background-color: white;
	}

	.overlay-button-primary {

	}
}

#jumbomanager-preview {
	text-align: center;
	width: 100%;
	z-index: -1000;
	img {
		max-width: 100%;
	}
}

#jumbomanager-background {
	width: 100%;
	z-index: -1000;
}

#jumbomanager-previews {
	.clearfix;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	position: relative;
	.image-container {
		width: @preview-fallback-width;
		display: inline-block;
		cursor: pointer;
		position: relative;
		.image-remove {
			position: absolute;
			right: 0;
			top: 0;
			display: none;
			font-size: 1rem;
			&:hover {
				color: @red;
				transition: color 0.25s 0s ease;
			}
		}
		&:hover .image-remove {
			display: block;
		}
		img {
			width: 100%;
			opacity: 1;
		}
	}

	.image-container.current-jumbo {
		background-color: @preview-focus-color;
		img {
			opacity: 0.5;
		}
	}
}

#jumbomanager-controls {
	.control-group {
		padding: 1.5rem 3rem 0;
	}
	.slider-container {
		margin: 0 auto 4rem;
	}
	.component {
		display: inline-block;
		padding: 0 2rem;
	}
}

#jumbomanager-toolbar {
	display: inline-block;
	vertical-align: middle;
}

#jumbomanager-button-d-minwidth,
#jumbomanager-button-d-valign,
#jumbomanager-button-d-halign {
	.ui-slider-pip {
		display: none;
	}
	.ui-slider-pip:nth-child(5n+2) {
		display: block;
	}
	.ui-slider-pip-first {
		display: block;
	}
}

@media (min-width: @tablet-width) {
	#jumbomanager-preview {
		/*ghostly*/
		// .ghostfix;
		.center-align(absolute);
	}
	#jumbomanager-toolbar {
		.ghostfix;
	}
	#jumbomanager-toolbar, #jumbomanager-preview img, #jumbomanager-canvas,
	#jumbomanager-previews, #jumbomanager-previews .image-container,
	#jumbomanager-previews .image-container img {
		height: 100%;
	}
	#jumbomanager-responsive-slider {
		display: block;
	}
}